/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- COLORS -- --- --- */

$color-green: #7eca9c;
$color-dark: #29252e;
$color-blue-light: #43accc;
$color-white: #ffffff;
$color-title: #cafabb;
$color-orange: #fdbd73;
$color-light-rose: rgb(255, 185, 196);
$color-blue-sky: #bde0fe;
$color-blue-dark: #415a77;
$color-grey: #bbbbbb;
$color-red: #f25287;

/* ------------------------------------------------------------------------------------------------ */
