/* ------------------------------------------------------------------------------------------------ */
/* --- --- -- COLORS -- --- --- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* --- --- -- GLOBAL CONFIG -- --- --- */
* {
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.main--content, .section-sites, .section__image, .section--beach, .main__paragraph, .social, .container--footer, .container, header {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #bbbbbb;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

::-webkit-scrollbar-thumb {
  background-color: #ffb9c4;
  /* background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent) */
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* --- --- -- HEADER -- --- --- */
header {
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
}

.section--on {
  border-bottom: solid 2px #7eca9c;
  transition: 0.1s ease all;
}

.section--off {
  border-bottom: none;
}

.container {
  width: 90%;
  height: 60px;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.container h3 {
  color: #7eca9c;
  font-size: 35px;
}
.container a {
  color: #7eca9c;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.container a:hover {
  border-bottom: solid 2px #7eca9c;
}

.container--menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#btn-about {
  border: solid 2px #7eca9c;
  color: #7eca9c;
  border-radius: 5px;
  padding: 2px 32px;
}

#btn-about:hover {
  background-color: #7eca9c;
  text-decoration: none;
  color: #ffffff;
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* --- --- -- ABOUT-ME -- --- --- */
#about-me {
  height: 80px;
  background-color: #f8faff;
  font-family: "Poppins", sans-serif;
  color: #bbbbbb;
  font-size: 13px;
}

.container--footer {
  width: 80%;
  align-self: center;
  height: 50px;
  border-top: dashed 1.5px #bbbbbb;
  border-bottom: dashed 1.5px #bbbbbb;
  justify-content: space-between;
}

#heart {
  color: #f25287;
}

.social {
  justify-content: space-around;
  width: 180px;
}
.social a {
  color: #bbbbbb;
  font-size: 20px;
}
.social a:hover {
  border-bottom: solid 2px #bbbbbb;
}

#icons {
  margin-left: 5px;
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.options {
  display: none;
}

.contenedor-imagen {
  height: 92vh;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  object-position: 0 bottom;
}

/* --- --- -- BEACH SECTION -- --- --- */
.main--title {
  color: #415a77;
  font-size: 35px;
  padding: 65px;
  margin-top: 15px;
  margin-left: 100px;
  font-family: "Fira Sans", sans-serif;
}

.main__paragraph {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-align: justify;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.section__container {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #bde0fe;
}

#beach {
  background-color: #ffffff;
}

.section--beach {
  /* background-color: $color-light-rose; */
  width: 100%;
  align-self: center;
  justify-content: center;
  gap: 100px;
  padding: 65px;
}

#playas {
  margin-top: 70px;
  margin-left: 150px;
  margin-bottom: -50px;
  color: #415a77;
  text-decoration: underline #415a77;
}

.second--title {
  color: #415a77;
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
}

.section__image {
  background-color: #cae8f1;
  width: 550px;
  height: 65%;
  border-radius: 1000px;
  justify-content: center;
}
.section__image img {
  width: 510px;
  height: 350px;
  object-fit: cover;
  border-radius: 100px;
}

/* ------------------------------------------------------------------------------------------------ */
/* --- --- -- SITES SECTION -- --- --- */
#sites {
  background-color: #7eca9c;
  color: #ffffff;
}

#sitios {
  color: #ffffff;
  align-self: center;
}

.section-sites {
  width: 90%;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.main--content {
  width: 100%;
  justify-content: space-around;
}

.sites__image {
  width: 400px;
  height: 300px;
}
.sites__image img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

#sites-paragraph {
  width: 500px;
}

/* ------------------------------------------------------------------------------------------------ */
/* --- --- -- RESPONSIVE DESIGN -- --- --- */
@media screen and (max-width: 1220px) {
  .main--title {
    font-size: 35px;
    margin-top: 30px;
    margin-left: 0;
    margin: 0;
  }

  #playas {
    margin-left: 0;
    margin-bottom: 0;
  }

  .main__paragraph {
    margin-top: 50px;
  }

  .main__paragraph {
    width: 550px;
    margin-bottom: 20px;
  }

  /* --- --- --- --- --- --- ---  */
  .section__container {
    align-items: center;
  }

  /* --- --- --- --- --- --- ---  */
  .section--beach {
    flex-direction: column-reverse;
    padding: 25px;
    gap: 0;
  }

  .second--title {
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 35px;
  }

  #second-beach {
    flex-direction: column;
  }

  /* --- --- --- --- --- --- ---  */
  #sites-paragraph {
    width: 400px;
    margin-top: -30px;
  }

  .sites__image {
    width: 350px;
    height: 250px;
  }
  .sites__image img {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }

  .carousel {
    width: 85%;
    margin: 50px;
  }

  .carousel__element a img {
    width: 350px;
    height: 150px;
  }
}
/* ------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 910px) {
  #playas {
    margin-top: 3px;
  }

  .container h3 {
    font-size: 25px;
    padding: 0;
  }

  .main__paragraph {
    width: 90%;
    margin-bottom: 20px;
  }

  .section__image {
    background-color: transparent;
    width: 100%;
    height: 65%;
    border-radius: 0;
  }
  .section__image img {
    width: 690px;
    height: 356px;
    object-fit: cover;
    border-radius: 10px;
  }

  .section-sites {
    width: 100%;
  }

  #sites-paragraph {
    width: 90%;
  }

  .main--content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .carousel {
    width: 70%;
  }

  .sites__image {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  .bt {
    display: none;
  }

  .options {
    display: flex;
  }

  .contenedor-imagen {
    height: 34vh;
  }

  #playas {
    margin-top: 50px;
    margin-bottom: -50px;
  }

  .container h3 {
    font-size: 30px;
  }

  .container--menu {
    justify-content: space-between;
  }

  .second--title {
    align-self: flex-start;
  }

  .section__image img {
    width: 691px;
  }
}
@media screen and (max-width: 760px) {
  .section__image img {
    width: 600px;
  }
}
@media screen and (max-width: 620px) {
  .container--footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .section__image img {
    width: 516px;
  }
}
@media screen and (max-width: 560px) {
  .section__image img {
    width: 450px;
  }
}
@media screen and (max-width: 490px) {
  .section__image img {
    width: 382px;
  }
}
@media screen and (max-width: 400px) {
  .container h3 {
    font-size: 28px;
  }

  .main--title {
    font-size: 28px;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
